



{{#if loggedIn}}
  <div class="mx-5">
    <h1 class="text-light border-bottom border-light mt-5">Showing All Posts</h1>
  </div>
  {{#each posts as |post|}}
    <div class="border border-dark bg-dark m-5 p-5 rounded">
    <ul class="mt-3 post-list border border-dark bg-light rounded" > 
      <li>
        <article class="user-post">
          <div class="title">
            <h1 class="text-dark fw-bold post-title">{{post.title}}</h1>
            <h3>{{post.post_content}}</h3>
          </div>
        
          <div class="meta border-top border-dark fw-bold">
            by {{post.user.username}} on
            {{post.created_at}}

            {{#if post.comments.length}}
            <h3 class="bg-success text-dark fw-bold comments-length" data-post-id="{{this.id}}">{{post.comments.length}} comment(s) --- click to see more</h3>
            <div class = "comment-container"></div>
            {{/if}}
          </div>
        
        </article>
      </li>
    </ul>
    <div class="options-container text-light float-end" data-post-id="{{this.id}}">Click here for more options
    </div>
  </div>
  {{/each}}
{{else}}
  <div class="bg-info">
    <div>
      <h1 class="text-light pt-5 px-5 border-bottom border-light">You need to login or sign-up to create posts and interact!</h1>
      <h2 class="text-light px-5">You can still read comments while logged out</h2>
      <a href="/login" class="mx-5 mt-3 btn btn-dark btn-lg login">Login!</a>
    </div>
  </div>
  <div class="mx-5">
    <h1 class="text-light border-bottom border-light mt-5">Showing All Posts</h1>
  </div>
  {{#each posts as |post|}}
    <div class="border border-dark bg-dark m-5 p-5 rounded">
    <ul class="mt-3 post-list border border-dark bg-light rounded" > 
      <li>
        <article class="user-post">
          <div class="title">
            <h1 class="text-dark fw-bold post-title">{{post.title}}</h1>
            <h3>{{post.post_content}}</h3>
          </div>
        
          <div class="meta border-top border-dark fw-bold">
            by {{post.user.username}} on{{post.created_at}}
        |   
            {{#if post.comments.length}}
            <h3 class="bg-success text-dark fw-bold comments-length" data-post-id="{{this.id}}">{{post.comments.length}} comment(s) --- click to see more</h3>
            <div class = "comment-container"></div>
            {{/if}}
            
          </div>
        
        </article>
      </li>
    </ul>
    <div class="options-container text-light float-end" data-post-id="{{this.id}}">Click here for more options
    </div>
  </div>
  {{/each}}
{{/if}}





{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
<script src="/javascript/homepage.js"></script>
{{else}}
<script src="/javascript/homepageLoggedOut.js"></script>
{{/if}}
